repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^manifests/
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      # go-vet is included in golangci-lint, so we skip it here to avoid conflicts
      - id: go-mod-tidy
      - id: go-unit-tests
        args: [-race]

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.0
    hooks:
      - id: golangci-lint
        args: [--timeout=4m, --config=.golangci.yaml]
